<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.indianrailwaycirculars">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />

    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".OpenUsefulForm"></activity>
        <activity android:name=".UsefulForms" />
        <activity android:name=".commercialMannual" />
        <activity
            android:name=".SplashScreen"
            android:label="Indian Railway Circulars"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" />
        <activity android:name=".IndianCommercialMenu" />
        <activity android:name=".SecondMainActivity" />
        <activity android:name=".SouthernRlymenu" />
        <activity android:name=".About" />
        <activity android:name=".WriteFeedback" />
        <activity android:name=".SRLettersToDivision" />
        <activity android:name=".ShowFavouriteList"/>
        <activity android:name=".FavoriteCirculars"/>
        <activity android:name=".NavigationDrawer"/>
    </application>

</manifest>